h1 {
  margin-left: 12px;
}

.container {
  width: 96vw;
  padding: 12px;
  display: flex;
  justify-content: center;
}

table {
  padding: 8px;
  width: 95vw;
}

table th {
  text-align: left;
  padding: 10px 4px;
}

table td {
  text-align: left;
  padding: 10px 4px;
}
