.inputeContainer {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding-inline: 8px;
  padding-block: 8px;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  min-height: 28px;
  justify-content: center;
  gap: 4px;
}

.inputSection {
  display: flex;
  align-items: center;
  gap: 4px;
}

input {
  outline: none;
  border: none;
  padding-block: 4px;
  padding-inline: 8px;
  font-size: 16px;
  flex: 1;
}

.label {
  font-weight: 600;
  font-size: 18;
}

.icon {
  height: 24px;
  width: 24px;
}
